<script>
export default {
  props: ['project']
}
</script>


<template>
  <div class="project-container gamedev-dictionary" :class="{active:project.active}">
    <main class="project-main">
      <iframe :src="project.url" frameborder="0"></iframe>
    </main>
  </div>
</template>


<style lang="scss" scoped>
.project-container, .project-main, iframe, .frosted-glass {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(1px);
  pointer-events: none;
  z-index: -1;
  background: rgba(255, 255, 255, .5);

}

.project-container{
  opacity: 0;
  transition: opacity ease 300ms;
  &.active {
    opacity: 1;
  }
}


</style>