@import url('https://fonts.googleapis.com/css?family=Zilla+Slab:300,400,500,600,700&display=swap');

:root{
  --background: #000;
  --text: #fff; 
  --textTrans: rgba(255,255,255,.33); 
}

body{
  font-family: 'Zilla Slab', serif;
  background: var(--background);
  color: var(--text);
}