<script>
import TwitterIcon from '@/assets/svgs/twitter-brands.svg'
import EmailIcon from '@/assets/svgs/envelope-solid.svg'
import InstagramIcon from '@/assets/svgs/instagram-brands.svg'

export default {
  components: {
    TwitterIcon,
    EmailIcon,
    InstagramIcon
  },
  methods: {}
}
</script>


<template>
  <footer class="contact-footer">
    <a  href="https://twitter.com/firebrandDev" target="_blank" class="contact-plug">
      <TwitterIcon />
    </a>
    <a href="mailto:contact@firebrand.dev" target="_blank" class="contact-plug">
      <EmailIcon />
    </a>
    <a href="https://instagram.com/firebrand.dev" target="_blank" class="contact-plug">
      <InstagramIcon />
    </a>
  </footer>
</template>


<style lang="scss" scoped>
.contact-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.contact-plug {
  position: relative;
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  border: 2px var(--text) solid;
  margin: 0.33rem;
  padding: 0.33rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: .5;
  transition: all ease 300ms;
  &:hover{
    opacity: 1;
  }
  svg {
    width: 66%;
    height: 66%;
    fill: var(--text);
    path {
      fill: var(--text);
    }
  }
}
</style>