<script>
import FirebrandSymbol from '@/assets/svgs/firebrand-symbol.svg'
export default {
  components: {
    FirebrandSymbol
  }
}
</script>

<template>
  <div class="logo">
    <FirebrandSymbol class="firebrand-logo" />
    <header class="brand">Firebrand Developments LLC</header>
  </div>
</template>

<style lang="scss" scoped>
.logo {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0.33rem;
  color: var(--text);


}

.firebrand-logo {
  position: relative;
  margin: 3.3rem;
  margin-bottom: 1.33rem;
  width: 125px;
  height: 125px;
  fill: var(--text);
  opacity: .66;
  transition: opacity ease 300ms;
    &:hover{
    opacity: .99;
  }

  path {
    fill: var(--text);
  }
}

.brand{
  user-select: none;
  opacity: .55;
  font-size: .77rem;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
</style>