<script>
import ProjectTemplate from './projects/ProjectTemplate'
import ProjectCover from './projects/ProjectCover'
import GamedevDictionaryCover from './projects//GamedeDictionary/GamedevDictionaryCover'
import GamedevDictionaryBadgeLogo from './projects//GamedeDictionary/GamedevDictionaryBadgeLogo'
import SimplyTaskBadgeLogo from './projects//SimplyTask/SimplyTaskBadgeLogo'
export default {
  components: {
    ProjectTemplate,
    GamedevDictionaryCover,
    GamedevDictionaryBadgeLogo,
    SimplyTaskBadgeLogo,
    ProjectCover
  },
  data() {
    return {
      projectSpotlight: null,
      projects: {
        gamedevdictionary: {
          key: 1,
          keyName: 'gamedevdictionary',
          active: false,
          name: 'Gamedev Dictionary',
          url: 'https://gamedevdictionary.com',
          listComponent: GamedevDictionaryBadgeLogo
        },
        simplytask: {
          key: 2,
          keyName: 'simplytask',
          active: false,
          name: 'Simply Task',
          url: 'https://simplytask.app',
          listComponent: SimplyTaskBadgeLogo
        }
      }
    }
  },
  created() {
    let { projects, projectSpotlight } = this.$data
    const projectList = Object.keys(projects)

    this.previewProject(projectSpotlight)
    const slideshow = () => {
      setTimeout(() => {
        this.hideProject(projectSpotlight)
        setTimeout(() => {
          let i = projectList.findIndex(i => i == projectSpotlight)
          if (i == -1) projectSpotlight = projectList[0]
          else projectSpotlight = projectList[i + 1]
          this.previewProject(projectSpotlight)
          slideshow()
        }, 300)
      }, 8500)
    }
    slideshow()
  },
  methods: {
    previewProject(project) {
      let { projects } = this.$data
      if (!projects[project]) return
      projects[project].active = true
    },
    hideProject(project) {
      let { projects } = this.$data
      if (!projects[project]) return
      projects[project].active = false
    }
  }
}
</script>


<template>
  <div class="portfolio">
    <header>Projects</header>
    <div class="project-pack">
      <ProjectCover
        v-for="project in projects"
        :key="project.key"
        :project="project"
      ></ProjectCover>
    </div>
    <ul class="portfolio-list">
      <li
        class="portfolio-item"
        v-for="project in projects"
        :key="project.key"
        :class="{active:project.active}"
        @mouseover="previewProject(project.keyName)"
        @mouseout="hideProject(project.keyName)"
      >
        <component :is="project.listComponent" :project="project" :key="project.key"></component>
      </li>
    </ul>
  </div>
</template>


<style lang="scss" scoped>
.portfolio {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.33rem;
  color: var(--text);
  padding: 1rem 0;
}

header {
  font-size: 0.88rem;
  opacity: 0.55;
  margin-bottom: 1rem;
  user-select: none;
}

.portfolio-list {
  list-style: none;
  display: flex;
  flex-flow: column;
}

.portfolio-item {
  position: relative;
  transition: all ease 500ms;
  opacity: 0.66;
  padding: 1rem 0;
  cursor: pointer;
  border-bottom: var(--textTrans) solid 1px;
  text-align: center;

  a {
    width: 100%;
    color: var(--text);
    text-decoration: none;
  }

  &:hover,
  &.active {
    opacity: 1;
    border-bottom: var(--text) solid 1px;
  }
}
</style>