<script>
export default {
  props: ["disabled"],
  mounted() {
    setTimeout(() => {
      if(this.$refs.brand) this.$refs.brand.$el.classList.add("show");
    }, 150);
  }
};
</script>

<template>
  <a
    class="brand"
    href="https://simplytask.app"
    ref="brand"
    target="_blank"
    :class="{disabled: disabled}"
    title="Simply Task"
  >
  Simply Task
  </a>
</template>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css?family=Baloo&display=swap");

.brand {
  position: relative;
  color: var(--text);
  // display: block;
  font-weight: bold;
  text-decoration: none;
  transition: all ease 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 110px;
  font-family: "Baloo", cursive;
  text-align: center;
  font-size: 1.4rem;
}
</style>
