<script>
import Logo from '~/components/Logo'
import Portfolio from '~/components/Portfolio'
import ContactFooter from '~/components/ContactFooter'

export default {
  components: {
    Logo,
    Portfolio,
    ContactFooter
  }
}
</script>

<template>
  <div class="container">
    <div class="column">
      <div class="frosted-glass"></div>
      <Logo/>
      <Portfolio/>
      <ContactFooter />
    </div>
  </div>
</template>

<style lang="scss">
.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.column{
  position: relative;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0 .66rem;
  color: var(--text);

  .frosted-glass{
    position: absolute;
    width: 100%;
    height: 100%;
    // background: rgba(255, 255, 255, .9);
    background: rgba(0, 0, 0, .77);
    // box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(1px);
  }
}

</style>
