<script>
export default {
  props: ['project']
}
</script>


<template>
  <div class="project-container" :class="{active:project.active}">
    <main class="project-main">
      <iframe src frameborder="0"></iframe>
    </main>
  </div>
</template>


<style lang="scss" scoped>
.project-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background: yellow;
  pointer-events: none;
  z-index: -1;
  transition: opacity ease 300ms;
}

.project-container {
  opacity: 0;
  transition: opacity ease 300ms;
  &.active {
    opacity: 1;
  }
}
</style>